*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;

    color: darkolivegreen;
    
    padding: 5%;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1em;
}

img{
    height: auto;
    width: 100%;
    min-width: 200px;
    max-width: 350px;
    padding: 2%;
    border-radius: 1em;
    transition: all 0.15s ease-in-out;

}

a:hover img{
    width: 100%;
    height: auto;
    opacity: 0.8;
    transform: scale(1.03);
}


.column{
    flex: 20%;
    max-width: 20%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
}
  
@media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}
  
@media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}
